# ====================[ .gitignore                         ]====================
#
# --------------------( SYNOPSIS                           )--------------------
# Avoid committing paths matching the following glob expressions.

# ....................{ TEMPORARIES                        }....................
cache
zsh/history
zsh/folque
*~
*.sw?
